h1{
    font-family: 'VT323', monospace;
    font-size: 2.5em;
}
body{
    font-family: 'Merriweather', serif;
    background-color: lightgrey;
}
a{
    text-decoration: none;
    color: black;
}
.pageHeader{
    min-height: 200px;
    height: 20%;
    background-color: darkcyan;
    background-image: url(img/computer.png);
    background-size: 300px;
    background-position: right top;
    background-repeat: no-repeat;
}
.pageBody{
    display: flex;
    height: 60%;
    min-height: 400px;
}
.pageFooter{
    height: 20%;
    background-color: darkcyan;
}
.leftblock{
    width: 49%;
    height: 300px;
}
.rightblock{
    width: 49%;
    height: 300px;
}