{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>RetroBaza.pl</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Merriweather|VT323" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/basestyle.css' %}">
</head>
<body>
<div class="pageHeader">
<h1><a href="{% url 'retrobaza-index' %}">RetroBaza-Nowe miejsce dla starych maszyn</a></h1>
<div class="sidebar">
    <div class="linkMenu">
        <a href="#">Biblioteka</a>
        <a href="#">Kontakt</a>
        <a href="#">Partnerzy</a>
    </div>
</div>
</div>
<div class="pageBody">
{% block content %}
{% endblock %}
</div>
<div class="pageFooter">
Copyright 2019 Krzysztof Piskorz. Powered with Django.
</div>
</body>
</html>