{% extends 'base.html' %}

{% block content %}
  <div class="container">
  <div class="row">
  <p>Wylogowano pomyślnie</p>
  </div>
  <div class="row">
  <a href="{% url 'retrobaza-index'%}">Przejdź do strony głównej.</a>
  </div>
  </div>
{% endblock %}