{% extends 'base.html' %}

{% block content %}
    <div class="leftblock">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    Login:  {{ form.username }}<br>
    Hasło:  {{ form.password }}<br>
    <a href="{% url 'password_reset' %}">Nie pamiętam hasła</a><vl>
    <input type="submit" value="Zaloguj" />
    </form>
    </div>
    <div class="rightblock">
    <h1> Zarejestruj się!</h1>
    Rejestracja zajmuje tylko chwilę, a możesz wiele zyskać:
    <ul>
    <li>Możliwość odpowiadania na forum.</li>
    <li>Pobieranie zbiorcze plików.</li>
    <li>Możliwość wgrywania plików na serwer.</li>
    </ul>
    Więc na co <a href="{% url 'retrobaza-register' %}">czekasz</a> ?
    </div>
{% endblock %}