{% extends 'base.html' %}

{% block content %}
 {% if validlink %}
    <h3>Zmiana hasła</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Zmień hasło</button>
    </form>
  {% else %}
    <p>
      Link do resetowania hasła jest nieprawidłowy. Wygeneruj nowy formularz zmiany hasła.
    </p>
  {% endif %}
{% endblock %}