{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <p>Jesteś zalogowany na stronie. Nie powinno cię tutaj być. <a href="{% url 'retrobaza-index' %}">Wracaj tutaj</a></p>
    {% else %}
    <h3>Zapomniałem hasła:</h3>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% endif %}
{% endblock %}