{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    Wysłaliśmy na wskazany adres dalsze instrukcje dotyczące przywracania hasła. 
  </div>
  <div class="row">
    Jeśli nie otrzymałeś wiadomości pod wskazany adres:
  </div>
  <div class="row">
    <ul>
    <li>Sprawdź poprawność adresu.</li>
    <li>Sprawdź folder SPAM</li>
    </ul>
  </div>
</div>
{% endblock %}