{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <form method="post">
            {% csrf_token %}
                {% for pfield in add_post %}
                    <div>
                        {{ pfield.label_tag }}<br>
                        {{ pfield }}
                        {% for error in pfield.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
         <button class="btn btn-secondary" type="submit">Dodaj odpowiedź</button>
        </form>
    </div>
</div>
{% endblock %}