{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <div class="row">
            <h2>Zmień rodzaj użytkownika:</h2>
        </div>
        <div class="col-md-10">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Zmień ustawienia</button>
                <a href="{% url 'adminOptions' %}">Anuluj</a>
            </form>
        </div>
    </div>
{% endblock %}