{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h3>Lista użytkowników:</h3>
          </div>
          <div class="col-sm-4">
            <form method="GET" action=''>
            <input type="text" name="fuser" placeholder="Wyszukaj użytkownika."/>
            <input type="submit" value="Szukaj"/>
            </form>
          </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="theader">
                    <th scope="col"> Nazwa użytkownika </th>
                    <th scope="col"> Rodzaj użytkownika</th>
                    <th scope="col" colspan="2"> Opcje </th>
                </thead>
{% for profile in profiles %}
                <tr>
                    <td>{{profile.user}}</td>
                    <td>
                        {% if profile.user.is_superuser %}
                        Administrator
                        {% elif profile.user.is_staff %}
                        Moderator
                        {% elif profile.is_blocked %}
                        Zablokowany
                        {% else %}
                        Zwykły
                        {% endif %}
                    </td>
                    <td>
                    {% if user.is_superuser %}
                    <a href="{% url 'editUserType' profile.user.pk %}">Zmień uprawnienia</a>
                    {% endif %}
                    </td>
                    <td>
                        <form method="post" action="{% url 'lockUser' profile.pk %}">
                            {% csrf_token %}
                            <button type="submit">
                            {% if profile.is_blocked %}
                            Odblokuj użytkownika
                            {% else %}
                            Zablokuj użytkownika
                            {% endif %}
                            </button>
                        </form>
                    </td>
                </tr>
{% endfor %}
            </table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if profiles.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page1={{ profiles.previous_page_number }}{% if request.GET.page2 %}&page2={{request.GET.page2}}{% endif %}{% if request.GET.page3 %}&page3={{request.GET.page3}}{% endif %}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in profiles.paginator.page_range %}
        {% if profiles.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a href="?page1={{ i }}{% if request.GET.page2 %}&page2={{request.GET.page2}}{% endif %}{% if request.GET.page3 %}&page3={{request.GET.page3}}{% endif %}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if profiles.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page1={{ profiles.next_page_number }}{% if request.GET.page2 %}&page2={{request.GET.page2}}{% endif %}{% if request.GET.page3 %}&page3={{request.GET.page3}}{% endif %}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h3>Lista plików wgranych przez użytkowników:</h3>
          </div>
          <div class="col-sm-4">
            <form method="GET" action=''>
            <input type="text" name="ffiles" placeholder="Wyszukaj pliki."/>
            <input type="submit" value="Szukaj"/>
            </form>
          </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="theader">
                    <th scope="col"> Nazwa pliku </th>
        <th scope="col"> Opis </th>
        <th scope="col"> Urządzenie </th>
        <th scope="col"> Typ </th>
        <th scope="col"> Właściciel </th>
        <th scope="col" colspan="2"> Opcje </th>
    </thead>
{% for file in files %}
<tr>
    <td>{{file.fileName}}</td>
    <td>{{file.fileDesc}}</td>
    <td>{{file.brand}} {{file.model}}</td>
    <td>{{file.deviceType}}</td>
    <td>{{file.uploader}}</td>
    <td><a href="{% url 'editFile' file.pk %}?next={{ request.path|urlencode }}"> Edytuj informacje o pliku</a></td>
    <td>
        <form method="post" action="{% url 'deleteFile' file.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">Usuń plik</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if files.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?{% if request.GET.page1 %}page1={{request.GET.page1}}&{% endif %}page2={{ files.previous_page_number }}{% if request.GET.page3 %}&page3={{request.GET.page3}}{% endif %}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in files.paginator.page_range %}
        {% if files.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a href="?{% if request.GET.page1 %}page1={{request.GET.page1}}&{% endif %}page2={{ i }}{% if request.GET.page3 %}&page3={{request.GET.page3}}{% endif %}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if files.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{% if request.GET.page1 %}page1={{request.GET.page1}}&{% endif %}page2={{ files.next_page_number }}{% if request.GET.page3 %}&page3={{request.GET.page3}}{% endif %}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
    <div class="row">
          <div class="col-sm-8">
            <h3>Lista tematów użytkowników:</h3>
          </div>
          <div class="col-sm-4">
            <form method="GET" action=''>
            <input type="text" name="ftopic" placeholder="Wyszukaj tematy."/>
            <input type="submit" value="Szukaj"/>
            </form>
          </div>
        </div>
        <div class="table-responsive">
        <table class="table">
    <thead class="theader">
        <th scope="col">Temat </th>
        <th scope="col">Kategoria</th>
        <th scope="col">Twórca</th>
        <th scope="col" colspan="2"> Opcje </th>
    </thead>
{% for topic in topics %}
<tr>
    <td>{{topic.titleName}}</td>
    <td>{{topic.titleCat}}</td>
    <td>{{topic.author}}</td>
    <td><a href="{% url 'editTopic' topic.pk %}?next={{ request.path|urlencode }}"> Edytuj temat</a></td>
    <td>
        <form method="post" action="{% url 'deleteTopic' topic.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">Usuń temat</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if topics.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?{% if request.GET.page1 %}page1={{request.GET.page1}}&{% endif %}{% if request.GET.page2 %}page2={{request.GET.page2}}&{% endif %}page3={{ topics.previous_page_number }}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in topics.paginator.page_range %}
        {% if topics.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a href="?{% if request.GET.page1 %}page1={{request.GET.page1}}&{% endif %}{% if request.GET.page2 %}page2={{request.GET.page2}}&{% endif %}page3={{ i }}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if topics.has_next %}
    <li class="page-item">
      <a class="page-link" href="?{% if request.GET.page1 %}page1={{request.GET.page1}}&{% endif %}{% if request.GET.page2 %}page2={{request.GET.page2}}&{% endif %}page3={{ topics.next_page_number }}{% if request.GET.fuser %}&fuser={{request.GET.fuser}}{% endif %}{% if request.GET.ffiles %}&ffiles={{request.GET.ffiles}}{% endif %}{% if request.GET.ftopic %}&ftopic={{request.GET.ftopic}}{% endif %}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
    </div>
{% endblock %}