{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>RetroBaza.pl - dodaj dane</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Merriweather|VT323" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/basestyle.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="pageHeader">
    <div class="title">
        <h1>RetroBaza-Nowe miejsce dla starych maszyn</h1>
    </div>
<div class="pageBody">
{% block content %}
{% endblock %}
</div>
<div class="pageFooter">
Copyright 2019 Krzysztof Piskorz. Powered with Django.
</div>
</body>
</html>