{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>RetroBaza.pl</title>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Merriweather|VT323" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/basestyle.css' %}">
<link rel="stylesheet" href="{% static 'styles/cropper.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'scripts/cropper.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-cropper.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<div class="pageHeader">
    <div class="title">
        <h1><a href="{% url 'retrobaza-index' %}">RetroBaza-Nowe miejsce dla starych maszyn</a></h1>
    </div>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color ">
        <a class="navbar-brand" href="{% url 'retrobaza-index' %}">RetroBaza</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'retrobaza-library' %}">Biblioteka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'retrobaza-contact' %}">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'retrobaza-partners' %}">Partnerzy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'retrobaza-forum' %}">Forum</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <form class="form-inline my-1">
                <div class="md-form form-sm my-0">
                    <input class="form-control form-control-sm mr-sm-2 mb-0" type="text" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-outline-white btn-sm my-0" type="submit">Szukaj</button>
            </form>
            {% endif %}
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Witaj<b>
                    {% if user.is_authenticated %} {{ user.get_username }}
                    {% else %}niezalogowany
                    {% endif %}</b>
                    </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                {% if user.is_authenticated %}
                    {% if user.is_staff or user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'adminOptions' %}">Ustawienia zaawansowane</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'editUser' %}">Zmień ustawienia</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj się</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'login' %}">Zaloguj się</a>
                    <a class="dropdown-item" href="{% url 'retrobaza-register' %}">Zarejestruj się</a>
                {% endif %}
                </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="pageBody">
{% block content %}
{% endblock %}
</div>
<div class="pageFooter">
Copyright 2019 Krzysztof Piskorz. Powered with Django.
</div>
</body>
</html>