{% extends "base_form.html" %}

{% block content %}
<div class = "container">
	<form method = 'POST' action= '' enctype = "multipart/form-data" novalidate id = "brand-form">{% csrf_token %}
		{{form.as_p}}
		<input type="submit" value = "Submit" />
	</form>
</div>
{% endblock %}