{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1> Tematy w kategorii {{category.catName}}</h1>
{% if user.is_authenticated %}
  {% if not user.profile.is_blocked %}
<a href="{% url 'topic-new' %}" class="linkbutton"> Załóż nowy temat </a>
  {% endif %}
{% endif %}
<div class="row mb-3">
{% for topic in topics %}
    <div class="col-sm-10 ">
        <div class="row bg-secondary mb-3">
            <div class="col-sm-1">
            <img src="/media/computer.svg" style="width: 50px;">
            </div>
            <div class="col-sm-11">
                    <div class="d-flex col mt-0">
                    <a href="{% url 'topic-details' slug=topic.titleSlug %}" class="text-dark">{{ topic.titleName }}</a>
                    </div>
                    <div class="d-flex col">
                    Utworzony przez: {{ topic.author }} dnia {{ topic.created_date }}
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
{% endfor %}
</div>
{% if user.is_authenticated %}
  {% if not user.profile.is_blocked %}
<a href="{% url 'topic-new' %}" class="linkbutton"> Załóż nowy temat </a>
  {% endif %}
{% endif %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if topics.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ topics.previous_page_number }}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in topics.paginator.page_range %}
        {% if topics.number == i %}
            <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if topics.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ topics.next_page_number }}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
{% endblock %}