{% extends 'base.html' %}

{% block content %}
    <div class="main">
    <h1> RetroBaza - kontakt: </h1>
    E-mail kontaktowy: <a href="mailto:retrobaza.promo@gmail.com">retrobaza.promo@gmail.com</a><br>
    W przypadku problemów ze stroną: <a href="mailto:retrobaza.problem@gmail.com">retrobaza.problem@gmail.com</a><br>
    <h1> DMCA / Licencjonowanie: </h1>
    Celem strony RetroBaza jest gromadzenie oprogramowania tzw. Abandonware, które nie jest serwisowane i sprzedawane przez producenta.<br>
    W przypadku zauważenia naruszenia licencji przez stronę RetroBaza, proszę wysłać e-mail z danymi kontaktowymi firmy licencjonującej i dokładną nazwą <br>
    plików, które stanowią źródło naruszeń pod adres:<a href="mailto:retrobaza.licencja@gmail.com">retrobaza.licencja@gmail.com</a><br>
    <h1> Zapewnienie serwerów zapasowych: </h1>
    Celem strony RetroBaza jest zapewnienie dostępu do sterowników dla starszych i niewspieranych przez producenta urządzeń komputerowych.<br>
    Aby to było możliwe potrzebne są serwery. Jeśli jesteś zainteresowany współpracą z naszej strony skontaktuj się z nami pod adresem:<br>
    <a href="mailto:retrobaza.promo@gmail.com">retrobaza.promo@gmail.com</a><br>
    </div>
{% endblock %}