{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row"><h2> Czy na pewno chcesz usunąć konto. Ta operacja jest nieodwracalna.</h2></div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Usuń konto</button>
            <a href="{% url 'editUser' %}">Anuluj</a>
        </form>
    </div>
{% endblock %}