{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <form method="post">
            {% csrf_token %}
                {% for field in edit_topic %}
                    <div>
                        {{ field.label_tag }}<br>
                        {{ field }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button class="btn btn-secondary" type="submit">Zmień temat</button>
        </form>
    </div>
</div>
{% endblock %}