{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row"><h1>Dane użytkownika {{user.username}}</h1></div>
    <div class="row">Login: {{user.username}}</div>
    <div class="row">E-mail: {{user.email}}</div>
    <div class="row">Typ użytkownika:
    {% if user.is_superuser %}
        Administrator
    {% elif user.is_staff %}
        Moderator
    {% elif user.profile.is_blocked %}
        Zablokowany
    {% else %}
        Zwykły
    {% endif %}
    </div>
    {% if user.first_name and user.last_name %}
    <div class="row">Imię i nazwisko: {{user.first_name}} {{user.last_name}}</div>
    {% endif %}
    <div class="row"><h2>Statystyki:</h2></div>
    <div class="row">Liczba plików: {{filelist.count}}</h1></div>
    <div class="row">Liczba tematów: {{topicslist.count}}</h1></div>
    <div class="row">Liczba postów: {{postslist.count}}</h1></div>
    <div class="row"></div>
    <div class="row"><h2>Opcje:</h2></div>
    <a href="{% url 'editUserData' %}">Edytuj dane podstawowe</a>
    <a href="{% url 'editUserAvatar' %}">Zmień awatar</a>
    <a href="{% url 'editUserPassword' %}">Edytuj hasło</a>
    <a href="{% url 'deleteAccountConfirm' %}">Usuń konto</a>
    <div class="row"></div>
    <div class="row"><h3>Lista plików wgranych przez użytkownika:</h3></div>
    <div class="table-responsive">
        <table class="table">
    <thead class="theader">
        <th scope="col"> Nazwa pliku </th>
        <th scope="col"> Opis </th>
        <th scope="col"> Urządzenie </th>
        <th scope="col"> Typ </th>
        <th scope="col" colspan="2"> Opcje </th>
    </thead>
{% for file in files %}
<tr>
    <td>{{file.fileName}}</td>
    <td>{{file.fileDesc}}</td>
    <td>{{file.brand}} {{file.model}}</td>
    <td>{{file.deviceType}}</td>
    <td><a href="{% url 'editFile' file.pk %}?next={{ request.path|urlencode }}"> Edytuj informacje o pliku</a></td>
    <td>
        <form method="post" action="{% url 'deleteFile' file.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">Usuń plik</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if files.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page1={{ files.previous_page_number }}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in files.paginator.page_range %}
        {% if files.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a href="?page1={{ i }}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if files.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page1={{ files.next_page_number }}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
    <div class="row"><h3>Lista tematów użytkownika:</h3></div>
        <div class="table-responsive">
        <table class="table">
    <thead class="theader">
        <th scope="col">Temat </th>
        <th scope="col">Kategoria</th>
        <th scope="col" colspan="2"> Opcje </th>
    </thead>
{% for topic in topics %}
<tr>
    <td>{{topic.titleName}}</td>
    <td>{{topic.titleCat}}</td>
    <td><a href="{% url 'editTopic' topic.pk %}?next={{ request.path|urlencode }}"> Edytuj temat</a></td>
    <td>
        <form method="post" action="{% url 'deleteTopic' topic.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">Usuń temat</button>
        </form>
    </td>
</tr>
{% endfor %}
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if topics.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page2={{ topics.previous_page_number }}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in topics.paginator.page_range %}
        {% if topics.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a href="?page2={{ i }}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if topics.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page2={{ topics.next_page_number }}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
    </div>
{% endblock %}