{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Zmień ustawienia</button>
            <a href="{% url 'editUser' %}">Anuluj</a>
        </form>
    </div>
{% endblock %}