{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>Forum retrobaza: </h1>
<div class="row">
{% for category in categories %}
    <div class="col-sm-10">
        <div class="row mb-3 bg-secondary">
            <div class="col-sm-1">
            <img src="{{ category.catPic.url }}" class="thumbnails">
            </div>
            <div class="col-sm-11">
                    <div class="d-flex col mt-0">
                    <a href="{% url 'forum-topic' slug=category.catSlug %}" class="text-dark">{{ category.catName }}</a>
                    </div>
                    <div class="d-flex col">
                    {{ category.catDesc }}
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
{% endfor %}
</div>
</div>
{% endblock %}