{% extends 'base.html' %}

{% block content %}
    <div class="main">
    <h1> Witaj na RetroBazie </h1>
    Nasza strona nie oferuje być może potężnej biblioteki<br>
    aplikacji, ale jeśli interesuje Cię nie tylko sam aspekt starego<br>
    oprogramowania, ale także ich otoczenia, to nasza strona jest przeznaczona dla Ciebie.
    </div>
{% endblock %}