{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="col-md-10">
        <form method="post" id="fileform" data-models-url="{% url 'ajax_load_models' %}" enctype="multipart/form-data">
            {% csrf_token %}
                <div>
                        <label for="id_fileName">Nazwa pliku:</label><br>
                        {{edit_file.fileName}}
                    </div>
                
                    <div>
                        <label for="id_fileDesc">Opis pliku:</label><br>
                        {{edit_file.fileDesc}}
                    </div>
                
                    <div>
                        <label for="id_brand">Marka:</label><br>
						{{edit_file.brand}}
                        <a href="{% url 'BrandCreate' %}" id="add_brand" onclick="return showAddPopup(this);">+</a>
                    </div>
                
                    <div>
                        <label for="id_model">Model:</label><br>
						{{edit_file.model}}
						<a href="{% url 'ModelCreate' %}" id="add_model" onclick="return showAddPopup(this);">+</a>
                    </div>
                
                    <div>
                        <label for="id_deviceType">Typ urządzenia:</label><br>
						{{edit_file.deviceType}}
						<a href="{% url 'TypeCreate' %}" id="add_type" onclick="return showAddPopup(this);">+</a>
                    </div>
         <input type="hidden" name="next" value="{{ request.GET.next }}">
         <button class="btn btn-secondary" type="submit">Edytuj plik</button>
        </form>
    </div>
</div>
<script>
    $("#id_brand").change(function () {
      var url = $("#fileform").attr("data-models-url");  // get the url of the `load_cities` view
      var brandID = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'brand': brandID       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_model").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
    function showAddPopup(triggeringLink) {
    var brand = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, brand, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
    function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}
  </script>
{% endblock %}