{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
<h1>Dostępne sterowniki dla urządzenia {{brand.brandName}} {{model.modelName}}: </h1>
</div>
<div class="table-responsive">
<table class="table">
<thead class="theader">
  <th scope="col"> Nazwa pliku </th>
  <th scope="col"> Opis </th>
  <th scope="col"> Pobierz </th>
</thead>
{% for file in files %}
<tr>
<td>{{file.fileName}}</td>
<td>{{file.fileDesc}}</td>
<td><a href= {{ file.file.url }} download> &#128428; {{file.file.size|filesizeformat}}
 </a></td>
</tr>
{% endfor %}
</table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if files.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ files.previous_page_number }}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in files.paginator.page_range %}
        {% if files.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if files.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ files.next_page_number }}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
{% endblock %}