{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
{% if user.is_authenticated %}
    {% if not user.profile.is_blocked %}
<a href="{% url 'file-new' %}" class="linkbutton"> Dodaj nowy plik </a>
    {% endif %}
{% endif %}
</div>
<div class="row">
<h1>Lista marek: </h1>
</div>
{% for brand in brands %}
<div class="row">
<a href="{% url 'library-brand' slug=brand.brandSlug %}">{{brand.brandName}}</a>
</div>
{% endfor %}
<div class="row">
<h1>Lista typów urządzeń: </h1>
</div>
{% for type in types %}
<div class="row">
<a href="{% url 'library-type' slug=type.deviceSlug %}">{{type.deviceTypeName}}</a>
</div>
{% endfor %}
</div>
{% endblock %}