{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
<h1>Dostępne modele dla marki {{brand.brandName}}: </h1>
</div>
{% for model in models %}
<div class="row">
<a href="{% url 'library-model' brandSlug=brand.brandSlug modelSlug=model.modelSlug %}">{{model.modelName}}</a><br>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if models.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ models.previous_page_number }}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in models.paginator.page_range %}
        {% if models.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if models.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ models.next_page_number }}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
{% endblock %}