{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<h1> {{ topic.titleName }} </h1>
<div id="forum">
{% include 'topicentry.html' %}
</div>
<div class="row">
    <div class="col-md-10">
        <form id="new_post">
            {% csrf_token %}
          <input type="hidden" value="{{topic.pk}}" id="topic"/>
          <input class="form-control" type="textarea" id="content"/>
         <button class="btn btn-secondary" type="submit">Dodaj odpowiedź</button>
        </form>
    </div>
</div>
</div>

<script type="text/javascript">
    $(document).on('submit','#new_post',function(e){
        e.preventDefault();

        $.ajax({
          type: 'POST',
          url: '/retrobaza/ajax/topic/addpost/',
          data: {
            topic: $('#topic').val(),
            postData: $('#content').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success:function(){
            $("#forum").load("/retrobaza/topicentry/");
          }
        });
    });
</script>
{% endblock %}