{% for post in posts %}
<div class="row mb-3">
    <div class="col-sm-10">
        <div class="d-flex col mt-0 text-white" style="background-image: linear-gradient(to right, darkblue , blue);">
                    {{ topic.titleName }}
                </div>
                <div class="d-flex col bg-secondary">
                    <div class="row">
                        <div class="col-sm-3 border-right border-light">
                            {% if post.author.avatar %}
                              <img src="{{ post.author.avatar.url }}" alt=" " class="avatar-forum rounded-circle">
                            {% else %}
                              <img src="../../media/user_avatars/None/placeholder.jpg" alt=" " class="avatar-forum rounded-circle">
                            {% endif %}
                            <br>
                            {{ post.author }}
                            <br>
                            {% if post.author == user.profile and not user.profile.is_blocked %}
                              <a href="{% url 'post-new' pk=post.pk %}">Zmień odpowiedź </a>
                            {% endif %}
                        </div>
                        <div class="col-sm-9">
                            <div class="d-flex col">
                                Przez:{{post.author}} >> {{ post.created_date }}
                            </div>
                            <div class="d-flex col">
                              {{ post.postData }}
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="col-sm-2">
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.previous_page_number }}" tabindex="-1">&lt; &lt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&lt; &lt;</a>
    </li>
    {% endif %}
    {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
        {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}">&gt; &gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#">&gt; &gt;</a>
    </li>
    {% endif %}
  </ul>
</nav>