h1{
    font-family: 'VT323', monospace;
    font-size: 2.5em;
}
body{
    font-family: 'Merriweather', serif;
    background-color: lightgrey;
}
a{
    text-decoration: none;
    color: black;
}
.title{
    display: flex;
    flex-direction: column;
    height: 10%;
    background-color: darkblue;
    background-image: url(img/buttons.png);
    background-size: 150px;
    background-position: right;
    background-repeat: no-repeat;
    color: white;
}
.title a {
  color: white;
  text-decoration: none;
}
.title a:hover {
  color: white;
  text-decoration: none;
}
.navbar {
  background-color: darkgrey;
}
.pageBody{
    display: flex;
    height: 60%;
    min-height: 400px;
}
.pageFooter{
    height: 20%;
    background-color: darkcyan;
}
.leftblock{
    width: 50%;   
}
.rightblock{
    width: 49%;
}
.thumbnails{
    width: 48px;
}
.linkbutton{
    display: block;
    width: 20%;
    text-align: center;
    margin: 10px;
    color: black;
    background-color: lightgrey;
    border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: 2px solid white;
	border-left: 2px solid white;
}
.linkbutton:hover{
    text-decoration-style: dotted;
    color: black;
}
.linkbutton:active{
    background-color: darkgray;
    text-decoration: none;
	border-left:  2px solid black;
	border-top:  2px solid black;
	border-right: 2px solid white;
	border-bottom:  2px solid white;
}
.avatar-forum{
    width: 50%;
    max-width: 150px;
    max-height: 150px;
}